/* Global */
body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    /* background: linear-gradient(to bottom, #eef2ff, #dbeafe); */
    background-color: #dbeafe;
    color: #1f2937;
}



/* Buttons */
button {
    height: 48px;
    width: 80px;


    color: black;
    /* padding: 12px 24px; */
    border-radius: 12px;
    font-weight: 600;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    opacity: 0.9;
}



/* Couleurs des humeurs */
.joyeux {
    background-color: #fef3c7;
    border: 2px solid #fde68a;
}

.triste {
    background-color: #dbeafe;
    border: 2px solid #93c5fd;
}

.tendu {
    background-color: #fee2e2;
    border: 2px solid #fca5a5;
}

.mysterieux {
    background-color: #ede9fe;
    border: 2px solid #c4b5fd;
}

.neutre {
    background-color: #f3f4f6;
    border: 2px solid #d1d5db;
}


/* Styles pour les labels et selects */
label {
    display: block;
    font-size: 0.875rem;
    font-weight: 600;
    color: #374151;
}

select {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #d1d5db;
    border-radius: 0.5rem;
    font-size: 1rem;
    background-color: white;
    transition: all 0.2s ease;
}

select:focus {
    outline: none;
    border-color: transparent;
    box-shadow: 0 0 0 2px #6366f1;
}



@media screen and (max-width: 640px) {
    label {
    }
}